/* fonts */
/* Azeret mono */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "azeret mono", monospace;
}

body {
  overflow-x: hidden;
}

/* shared styles */
.text-decoration-none {
  text-decoration: none;
  color: black;
}

.btn-primary {
  background: white;
}

.btn-font-weight {
  font-weight: 600;
}

.secondary-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.description-font {
  font-size: 0.8rem;
  color: rgb(13, 19, 33);
  margin-bottom: 1rem;
}

.secondary-btn {
  padding: 0.5rem 0.7rem;
  border: 1px solid black;
  font-size: 0.8rem;
}

.secondary-btn:hover {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

/* header styles */
header {
  height: 100vh;
  width: 100vw;
}

/* nav styles */
nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

nav .nav-box {
  width: 80vw;
}

nav .nav-box ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-box ul li .nav-logo {
  font-weight: 900;
  color: #0d1321;
  font-size: 1.2rem;
}

nav .nav-box ul li .btn {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

nav .nav-box ul li .btn:hover {
  text-decoration: underline;
}

/* banner styles */
.banner {
  height: 100%;
  width: 100%;
  background: url("../resources/assets/Hero-bg.png"), center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > .banner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
}

.banner .banner-box .logo img {
  height: 10rem;
}

.banner > .banner-box > .contact-me {
  border: none;
  background: none;
}

.banner .banner-box .contact-me a {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  background: black;
  color: white;
  text-decoration: none;
}

.banner > .banner-box > .contact-me a:hover {
  background: rgba(0, 0, 0, 0.85);
}

/* main section styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100vw;
}

main > section {
  margin-top: 5rem;
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > .why-web-development {
  margin-top: 10rem;
  border-radius: 2rem;
  background: rgba(13, 19, 33, 0.02);
}

main > .why-web-development > .section-box {
  padding: 6rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > .why-web-development > .section-box > .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main > .why-web-development > .section-box > .description {
  margin-bottom: 2rem;
}

main > .why-web-development > .section-box > .content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  background: white;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2rem 4rem;
  margin-top: 3rem;
}

main > .why-web-development > .section-box > .content > img {
  height: 10rem;
}

/* my inspiration section styles */
main .my-inspiration {
  gap: 2rem;
}

main .my-inspiration .title {
  font-size: 2rem;
  font-weight: 800;
}

main .my-inspiration .description {
  width: 80%;
}

main .my-inspiration .video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 2rem;
}

main .my-inspiration .video iframe {
  width: 100%;
  height: 30rem;
}

/* my current target section styles */
main .current-target > .title,
main .current-target > .description {
  margin-bottom: 2rem;
  width: 80%;
  text-align: center;
}

main .current-target .content-box {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

main .current-target .content-box .content {
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 1rem;
}

main .current-target .content-box .content .title {
  margin: 1rem 0;
  font-size: 1rem;
  font-weight: 800;
}

main .current-target .content-box .content a {
  display: block;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 700;
  font-size: 0.8rem;
}

main .current-target .content-box .html {
  background: rgba(255, 76, 30, 0.05);
}

main .current-target .content-box .css {
  background: rgba(0, 76, 232, 0.05);
}

main .current-target .content-box .javascript {
  background: rgba(255, 223, 0, 0.05);
}

/* support section styles */
main .support {
  box-sizing: border-box;
  padding: 4rem 12rem;
  border-radius: 2rem;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../resources/assets/handshake.jpg");
  background-size: cover;
  background-position: center;
  /* height: 20rem; */
}

main .support .title {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
  font-weight: 700;
}

main .support .description {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

main .support .input input {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
}

main .support .input[type="text"] {
  width: 3342px;
  font-weight: 400;
  color: rgba(13, 19, 33, 0.4);
}

main .support .input[type="submit"] {
  color: rgb(13, 19, 33);
  font-weight: 600;
}

/* footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(13, 19, 33, 0.03);
  margin-top: 5rem;
}

footer .footer-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80vw;
  padding: 1rem 0;
}

footer .footer-box h1 {
  font-size: 1rem;
  color: rgb(13, 19, 33);
}

footer .footer-box .icons ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

footer .footer-box .icons ul li a img {
  height: 2rem;
}

.me:hover {
  text-decoration: underline;
}
