/* fonts */
/* Azeret mono */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Universal styles */
* {
  margin: 0;
  padding: 0;
  font-family: "azeret mono", monospace;
}

body {
  overflow-x: hidden;
}

/* shared styles */
.text-decoration-none {
  text-decoration: none;
  color: black;
}

.btn-primary {
  background: white;
}

.btn-font-weight {
  font-weight: 600;
}

.description-font {
  font-size: 0.8rem;
  color: rgb(13, 19, 33);
  margin-bottom: 1rem;
}

.secondary-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.secondary-btn {
  padding: 0.5rem 0.7rem;
  border: 1px solid black;
  font-size: 0.8rem;
}

.secondary-btn:hover {
  text-decoration: underline;
}

/* header styles */
header {
  height: 100vh;
  width: 100vw;
}

/* nav styles */
nav {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

nav .nav-box {
  width: 80vw;
}

nav .nav-box ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-box ul li .nav-logo {
  font-weight: 900;
  color: #0d1321;
  font-size: 1.2rem;
}

nav .nav-box ul li .btn {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;
  font-size: 0.8rem;
}

nav .nav-box ul li .btn:hover {
  text-decoration: underline;
}

/* banner styles */
.banner {
  height: 100%;
  width: 100%;
  background: url("../resources/assets/Hero-bg.png"), center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner > .banner-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 50%;
  text-align: center;
}

.banner > .banner-box > .contact-me {
  background: black;
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.banner > .banner-box > .contact-me:hover {
  background: rgba(0, 0, 0, 0.85);
}

/* main section styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  width: 100vw;
}

main > section {
  margin-top: 5rem;
  width: 80vw;
}

main > .why-web-development {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  background: rgba(13, 19, 33, 0.02);
}

main > .why-web-development > .section-box {
  padding: 6rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main > .why-web-development > .section-box > .title {
  font-size: 2rem;
  margin-bottom: 1rem;
}

main > .why-web-development > .section-box > .description {
  text-align: center;
  margin-bottom: 2rem;
}

main > .why-web-development > .section-box > .content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  background: white;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2rem 4rem;
  margin-top: 3rem;
}

main > .why-web-development > .section-box > .content > img {
  height: 10rem;
}

/* my inspiration section styles */
main .my-inspiration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

main .my-inspiration .title {
  font-size: 2rem;
  font-weight: 800;
}

main .my-inspiration .description {
  width: 80%;
  text-align: center;
}

main .my-inspiration .video {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid black;
  border-radius: 2rem;
}

main .my-inspiration .video iframe {
  width: 100%;
  height: 35rem;
}
